version: '3.5'

services:  
  superintendencia_postgres:
    image: postgis/postgis:15-3.4
    restart: unless-stopped
    container_name: superintendencia_postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 10
    environment:
      POSTGRES_USER: admin-superintendencia
      POSTGRES_PASSWORD: admin-super
      POSTGRES_DB: superintendencia
    networks:
      network_db:
        ipv4_address: 10.10.1.32
      network_service:
        ipv4_address: 10.10.2.152
    volumes:
      - superintendencia:/var/lib/postgresql/data

volumes:
  superintendencia:
    external: false

networks:
  network_db:
    external: true
  network_service:
    external: true
